<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOMAB T250</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>LP Marcel Dassault - Atelier</h1>
    <h2>SOMAB T250 : </h2><br><a href="../index.html" style="color: #fff;">Revenir à la page principale</a><br><br><br>
    <embed src="./pdf/T250.pdf" type="application/pdf" width="80%" height="400px">
</body>
</html>